.heroContainer {
	background-image: url('/images/hero1.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	color: white;
	text-align: center;

	.headline {
		font-size: 2rem;
		line-height: 0.9;
	}

	.subHeadline {
		margin-top: 15px;
		width: 90%;
		font-size: 1rem;
		text-transform: uppercase;
	}

	.btn {
		font-size: 1rem;
		text-decoration: none;
		text-transform: uppercase;
		color: #f4f0ea;
		border: 1px solid #f4f0ea;
		padding: 10px 20px;
		border-radius: 8px;
		margin-top: 15px;
		transition: background-color 0.25s;
	}

	.btn:hover {
		background: #f4f0ea;
		color: black;
	}
}

@media only screen and (min-width: 600px) {
	.heroContainer {
		.headline {
			font-size: 3.5rem;
		}

		.subHeadline {
			font-size: 2rem;
		}
	}
}
